---
---

@import 'reset';

$em: 16px;
$scale: 1.7;

$c_color: #111;
$c-text: #332e2d;


$f-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$f-serif: 'Libre Baskerville', serif;

*, *:after, *:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  font-family: $f-sans;
  font-size: $em * 0.8;
  color: $c_color;
  //background-color: #f5f1f0;
  background: #FFF;
  @media (min-width: 550px) { font-size: $em; }
}

a {
  color: $c_color;
  text-decoration: none;
}

.main {
  margin-bottom: 1em * $scale * $scale * $scale;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  max-width: 722px;
  position: relative;
  @media (min-width: 942px) { left: 100px; }
}

.intro {
  margin-top: 1em * $scale * $scale;
  max-width: 722px;
}

.wrapper-header {
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  max-width: 742px + 200px;
  position: relative;
}

.wrapper-tag {
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  max-width: 722px + 200px;
  position: relative;
}

img {
  max-width: 100%;
  padding: $scale * 1em;
  background-color: #f3f3f3;
  @media (min-width: 600px) {
    padding: $scale * $scale * 1em;
  }
}

.section-header {
  margin-top: 1em * $scale * $scale;
  @media (min-width: 600px) {
    margin-top: 1em * $scale * $scale * $scale;
  }
}

.header {
  margin-bottom: 1em;
}

.row {
  display: flex;
}

hr {
  color: none;
  background: none;
  border-top: 2px solid $c_color;
}

.home-hr {
  margin-bottom: 1em * $scale * -1;
}

.prev-next {
  display: flex;
  margin-top: 1em;
  span {
    font-style: italic;
    background: linear-gradient(#fffff8,#fffff8),linear-gradient(#fffff8,#fffff8),linear-gradient(#333,#333);
    background-size: 0.05em 1px,0.05em 1px,1px 1px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-position: 0% 93%,100% 93%,0% 93%;
    text-shadow: 0.03em 0 #fffff8,-0.03em 0 #fffff8,0 0.03em #fffff8,0 -0.03em #fffff8,0.06em 0 #fffff8,-0.06em 0 #fffff8,0.09em 0 #fffff8,-0.09em 0 #fffff8,0.12em 0 #fffff8,-0.12em 0 #fffff8,0.15em 0 #fffff8,-0.15em 0 #fffff8;
    transition: 0.2s all ease;

  }

}

.prev-next-col {
  width: 50%;
  &:last-child { text-align: right; }
}

.prev, .next {
  &:hover {
    span {
      background: #e5e5e5;
      text-shadow: none;
      box-shadow: 0 0 0 3px #e5e5e5;
    }
  }
}
.next { text-align: right; }

.nav-hr {
  margin-top: 1em * $scale * $scale * $scale;
}

.row-item-mc {
  margin-top: 1em * $scale * $scale * $scale;
  width: 100%;
  @media (min-width: 600px) { display: flex; flex-wrap: wrap;  }
}

.row-item-sc {
  display: none;
  width: 100% / $scale / $scale;
  @media (min-width: 600px) { display: block;
  }
}

.row-col {
  @media (min-width: 600px) { width: 50%; }
  margin-bottom: 1em * $scale * $scale;
  h3 {
    margin: (1em / $scale / $scale) 0 (1em);
    @media (min-width: 600px) { width: 330px }

  }
  &.full { width: 100%; }
}

p {
  line-height: 1.7;
  font-size: 1em;
  + p {
    margin-top: 1em;
  } a {
    background: linear-gradient(#fffff8,#fffff8),linear-gradient(#fffff8,#fffff8),linear-gradient(#333,#333);
    background-size: 0.05em 1px,0.05em 1px,1px 1px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-position: 0% 93%,100% 93%,0% 93%;
    text-shadow: 0.03em 0 #fffff8,-0.03em 0 #fffff8,0 0.03em #fffff8,0 -0.03em #fffff8,0.06em 0 #fffff8,-0.06em 0 #fffff8,0.09em 0 #fffff8,-0.09em 0 #fffff8,0.12em 0 #fffff8,-0.12em 0 #fffff8,0.15em 0 #fffff8,-0.15em 0 #fffff8;
    transition: 0.2s all ease;

    &:hover {
      background: #e5e5e5;
      text-shadow: none;
      box-shadow: 0 0 0 3px #e5e5e5;
    }
  }
}

.p-end {
  padding-bottom: 1em * $scale;
}

.study-tag {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px; // Small caps cheater
  letter-spacing: 0.1em;
  margin-right: 1em * $scale;
}

.study-date {
  margin-left: 1em;
}

.content {
  h2 {
    font-size: 1em * $scale;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.05em;
    margin: (1em * $scale * $scale) 0 (1em);
  }

  h3 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.05em;
    margin: (1em * $scale * $scale) 0 (1em);
  }

  h4 {
    margin-bottom: 1em * $scale;
    font-size: 1em * 0.8;
    font-style: italic;
  }
}

.streak {
  display: none;
  @media (min-width: 942px) { display: block; }
}



li {
  &:before {
    content: '•';
    position: absolute;
    left: 0;
  }
  line-height: $scale;
  padding-left: 1em * $scale;
  position: relative;
  margin: (1em) 0;

  .no-style & {
    &:before { display: none; }
    padding: 0;
    margin: 0;
  }
}




.i, em {
  font-style: italic;
}

.indent {
  margin-left: $em * $scale;
}

a::selection{text-shadow:0.03em 0 #b4d5fe,-0.03em 0 #b4d5fe,0 0.03em #b4d5fe,0 -0.03em #b4d5fe,0.06em 0 #b4d5fe,-0.06em 0 #b4d5fe,0.09em 0 #b4d5fe,-0.09em 0 #b4d5fe,0.12em 0 #b4d5fe,-0.12em 0 #b4d5fe,0.15em 0 #b4d5fe,-0.15em 0 #b4d5fe;background:#b4d5fe;}

a::-moz-selection{text-shadow:0.03em 0 #b4d5fe,-0.03em 0 #b4d5fe,0 0.03em #b4d5fe,0 -0.03em #b4d5fe,0.06em 0 #b4d5fe,-0.06em 0 #b4d5fe,0.09em 0 #b4d5fe,-0.09em 0 #b4d5fe,0.12em 0 #b4d5fe,-0.12em 0 #b4d5fe,0.15em 0 #b4d5fe,-0.15em 0 #b4d5fe;background:#b4d5fe;}

aside {
  text-align: left;
  margin-bottom: 1em * $scale;
  font-style: italic;
  @media (min-width: 942px) {
    position: absolute;
    left: -160px - ($em * $scale);
    width: 150px;
  }
}

// header

header {
  background: #222;

  color: white;
  height: 50px;
  padding: 0 16px;
  font-size: 0.875em;
  .toggle a {
    text-decoration: none;
    color: white;
    padding: 6px 16px 9px 16px;
    display: inline-block;
    background: #444;
    margin-left: 8px;
    border-radius: 4px;
    &:hover {
      background: white;
      color: #222;
    }
  }
  .left {
    display: flex;
    a {
      color: white;
      text-decoration: none;
      margin-left: 32px;
      &:hover { color: rgba(white, 0.5);}
    }
  }
  a { transition: 0.25s all ease; }
} .header-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 1.0em;
  margin-bottom: 2px;
}



.container {
  max-width: 1000px;
  margin: 50px auto;
  overflow: hidden;
} .container__weekly {
  max-width: 1200px;
}

.content {
  font-size: 1.25em;
} .week .content { font-size: 1em; padding: 2em 1em 0em 0; }

.number {
  font-size: 58px;
  font-weight: 200;
}

.day {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 0.5em;
} .month, .entry { font-size: 14px; }
.month { margin-bottom: 0.5em; }
.entry { margin-bottom: 1em; }

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(#332e2d, 0.1);
  padding: 16px;
  min-width: 105px;
} .date__main {
} .date__secondary {
  border-top: 1px solid rgba(#332e2d, 0.25);
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba($c-text, 0.7);
}



.day-individual {
  display: flex;
  margin-bottom: 2em;
  background: #FFF;
  border: 1px solid rgba(#332e2d, 0.2);
} .no-entry {
  opacity: 0.4;
  background: #FFF;
  .content { display: flex; align-items: center; font-style: italic; font-family: $f-sans; }
}

.content {
  flex-grow: 1;
  padding: 1em 4em 2em;
  p, ul { font-family: $f-serif; }

  &.no-style {
    li, p {
      color: rgba($c-text, 0.8);
      line-height: 1.6;
      margin: 0;
      padding: 0;
      font-family: $f-sans;
      &:before { display: none; }
    }
  }
  ul:first-child li:first-child { margin-top: 0; }
}

.day-individual:last-child {
  .content, .date { border-bottom: 1px solid rgba(#332e2d, 0.1); }
}


.week-index {
  display: flex;
  min-height: 50px;
  flex-wrap: wrap;
  margin: 0 -5px -5px 0;
}

.week {
  flex: 1;
  background: #FFF;
  min-width: 450px;
  min-height: 100px;
  border-right: 1px solid rgba(#332e2d, 0.2);
  border-bottom: 1px solid rgba(#332e2d, 0.2);
  padding: 2em;
  h2 {
    font-family: $f-serif;
    font-weight: 700;
    font-size: 1.728em;
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 0.8em;
    color: #888;
    margin-top: 1em;
  }
} .week-more {
  font-style: italic;
  text-decoration: underline;
  color: #737373;
  margin-top: 2em;
  display: block;
  &:hover { color: $c_color; }
}

.week-individual {
  .content, .date { border: none; }
}

.week-individual {
  display: flex;
  align-items: flex-start;
} .summary {
  margin-top: 1.8em;
  font-weight: 600;
  min-width: 105px;
} .week-h1 {
  font-size: 2.48832em;
  font-weight: 700;
  font-family: $f-serif;
  margin: 0.35em 0 0.5em;
} .week-subtitle {
  color: rgba($c-text, 0.8);
}

.daily {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 1.44em;
  margin: 2em 0 1em;
  color: rgba($c-text, 0.8);
}
