---
title: James’ Log
layout: home
---

<div class="wrapper-header">
  <p class="intro">Hi, my name is James, and this is my professional development log. I am a UX designer by trade.</p>


  <div class="row">
    <div class="row-item-mc">
      <div class="row-col">
        <h3>Current Major Focus</h3>
        <p><span class="i">To Be Determined</span>
          <br>
          <span class="indent">Since December 20th 2017</span></p>
        </p>
      </div>
      <div class="row-col">
        <h3>Current Minor Focus</h3>
        <p><a href="{{ site.baseurl }}/tag/branding"><span class="i">Branding: A Very Short Introduction</a></span>
          <br>
          <span class="indent">Since December 2017</span></p>
        </p>

        <p><a href="{{ site.baseurl }}/tag/af"><span class="i">About Face: The Essentials of Interaction Design</a></span>
          <br>
          <span class="indent">Since December 2017</span></p>
        </p>

      </div>
      <div class="row-col full">
        <h3>Completed Studies</h3>
        <ul class="no-style">
          <li><p>
            <span class="study-tag">Book</span>
            <a href="{{ site.baseurl }}/tag/upd"><span class="i">Universal Principles of Design</a></span>
            <span class="study-date">October – December 2017</span></p>
          </p></li>
        </ul>
      </div>
    </div>

  </div>


  <h3 class="section-header">Lastest Daily Entries</h3>
  <hr class="home-hr">

</div>

<div class="wrapper">

  {% for post in site.posts limit:14 %}


    {% assign day = post.date | date: "%-d" %}


    <h2>
      {{ post.date | date: "%B " }}
      {% case day %}
        {% when '1' or '21' or '31' %}{{ day }}st,
        {% when '2' or '22' %}{{ day }}nd,
        {% when '3' or '23' %}{{ day }}rd,
        {% else %}{{ day }}th,
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </h2>

    <aside><p><a href="{{ site.baseurl }}/{{ post.url }}">Entry #{{ post.title }}</a></p></aside>
    {{ post.content }}

    <h3>Tags</h3>
    <p class="p-end">
      {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a> &nbsp;
      {% endfor %}
    </p>

    {% assign recent = recent | plus:1 %}
    {% assign r = r | minus:1 %}
  {% endfor %}

</div>
