---
title: Me
---

<div class="wrapper-header">
  <div class="row">
    <div class="row-item-mc">
      <h3>Current Deep Focus</h3>
      <p><span class="i">Universal Principles of Design</span>
        <br>
        <span class="indent"><a href="{{ site.baseurl }}/tag/upd">More Info</a> • <a href="http://universalprinciplesofdesign.com/books/" target="_blank">Publisher Page</a></span></p>
      </p>
    </div>
    <div class="row-item-sc">
      <h3>Current Entry Streak</h3>
      <p>1 day &nbsp;<span class="i">(Oct 9–)</span>
      </p>
    </div>
  </div>

  <h3 class="section-header">Entries</h3>
  <hr class="home-hr">

</div>

<div class="wrapper">


  {% for post in site.posts %}

    {% assign day = post.date | date: "%-d" %}

    <a href="{{ site.baseurl }}/{{ post.url }}"><h2>
      {{ post.date | date: "%B " }}
      {% case day %}
        {% when '1' or '21' or '31' %}{{ day }}st,
        {% when '2' or '22' %}{{ day }}nd,
        {% when '3' or '23' %}{{ day }}rd,
        {% else %}{{ day }}th,
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </h2></a>
    <aside><a href="{{ site.baseurl }}/{{ post.url }}">Entry #{{ post.title }}</a></aside>
    {{ post.content }}

    <h3>Tags</h3>
    <p>
      {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a> &nbsp;
      {% endfor %}
    </p>

  {% endfor %}
