---
title: James’ Log
layout: home
---

<div class="container">
  <p class="intro">Hi, my name is James, and this is my professional development log. I am a UX designer by trade.</p>
</div>
<div class="container home">

  <hr class="home-hr">


  <div class="week-index">
    <div class="week">
      <h2>Current Studies</h2>
      <h3>Since January 2018</h3>
      <div class="content">
        <p><a href="{{ site.baseurl }}/tag/ixd"><span class="i">About Face: The Essentials of Interaction Design</a></span>
          <br>
          <span class="indent">Since December 2017</span></p>
        </p>
        <p><a href="{{ site.baseurl }}/tag/organizations"><span class="i">Organizations: A Very Short Introduction</a></span>
          <br>
          <span class="indent">Since January 2018</span></p>
        </p>
      </div>
    </div>
    <div class="week">
      <h2>Completed Studies</h2>
      <h3>Since October 2017</h3>
      <div class="content">
        <p><a href="{{ site.baseurl }}/tag/branding"><span class="i">Branding: A Very Short Introduction</a></span>
          <br>
          <span class="indent">December 2017 – January 2018</span></p>
        </p>
        <p><a href="{{ site.baseurl }}/tag/upd"><span class="i">Universal Principles of Design</a></span>
          <br>
          <span class="indent">October – December 2017</span></p>
        </p>
      </div>
    </div>
  </div>

  <hr class="home-hr">

  <h2 class="home-h2">Most Recent Weekly Logs</h2>
  <h4 class="home-h4">Updated every Sunday.</h4>

  <div class="week-index">


    {% for post in site.categories.weekly limit:2 offset:1 %}
      <div class="week">
        <h2>
          {% assign d = post.date | date: "%-d"  %}
          {{ post.date | date: "%B" }}
            {% case d %}
            {% when '1' or '21' or '31' %}{{ d }}st,
            {% when '2' or '22' %}{{ d }}nd,
            {% when '3' or '23' %}{{ d }}rd,
            {% else %}{{ d }}th,
            {% endcase %}
          {{ post.date | date: "%Y" }}
        </h2>
        <h3>Week #{{ post.title }}</h3>
        <div class="content">
          {{ post.content }}
          <a class="week-more" href="{{ post.url }}">View Daily Entries</a>
        </div>
      </div>
    {% endfor %}
  </div>

  <hr class="home-hr">

  <h2 class="home-h2">Most Recent Daily Log</h2>
  <h4 class="home-h4">Warning: Daily logs are frequently chaotic.</h4>

  {% for post in site.categories.daily %}
    {% unless post.tags contains "none" %}
      <div class="day-individual {% if post.tags contains "none" %} no-entry {% endif %}">
        <div class="date">
          <div class="date__main">
            <div class="number">{{ post.date | date: "%d" }}</div>
          </div>
          <div class="date__secondary">
            <div class="day">{{ post.date | date: "%a" }}</div>
            <div class="entry">Entry #{{ post.title }}</div>
          </div>
        </div>
        <div class="content">
          {{ post.content }}
        </div>
      </div>
      {% break %}
    {% endunless %}
  {% endfor %}
</div>
