{% include head.html %}
  <div class="main">
    {% include header.html %}

      <div class="container container__weekly">
        <div class="week-intro">
          <h1 class="week-h1">
          Weekly Summaries
          </h1>
          <p>An overview of what I accomplished each week. Updated every Sunday.</p>
        </div>

        <div class="week-index">
          {% for post in site.categories.weekly offset:1 %}
            <div class="week">
              <h2>
                {% assign d = post.date | date: "%-d"  %}
                {{ post.date | date: "%B" }}
                  {% case d %}
                  {% when '1' or '21' or '31' %}{{ d }}st,
                  {% when '2' or '22' %}{{ d }}nd,
                  {% when '3' or '23' %}{{ d }}rd,
                  {% else %}{{ d }}th,
                  {% endcase %}
                {{ post.date | date: "%Y" }}
              </h2>
              <h3>Week #{{ post.title }}</h3>
              <div class="content">
                {{ post.content }}
                <a class="week-more" href="{{ post.url }}">View Daily Entries</a>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
  </div>
{% include foot.html %}
